body{
    padding: 7%;
}
.submit-area{
    margin-top: 4%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    padding: 4%;
}
#transaction-area{
    display: none;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}
.status{
    margin: 0 5%;
    color: white;
    padding:5%;
    border-radius: 10px;
}
